## Importing the required packages

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

### Creating the URL and using BeautifulSoup

In [2]:
URL = 'https://www.imdb.com/chart/boxoffice/?ref_=nv_ch_cht'

### Getting the request from the IMDB website

In [3]:
page = requests.get(URL)

In [4]:
soup = BeautifulSoup(page.content,'html.parser')
results = soup.find(id = 'boxoffice')

### Finding the  required tag to begin scrapping from the web-page

In [5]:
movie_table = results.find_all('tr')

### Creating an empty dataframe on which to append the results

In [6]:
Box_office = pd.DataFrame()

In [7]:
movie_title = []
weekend_dollar = []
gross_dollar =[]
weeks_in_boxoffice =[]
stars =[]

### Looping through the movie_table to find the required information

In [8]:
for mo in movie_table:
    movie_name = mo.find('td',class_ = 'titleColumn')
    weekend_amount = mo.find('td',class_ = 'ratingColumn')
    weeks_in = mo.find('td',class_ = 'weeksColumn')
    try:
        starring = movie_name.a['title']
        movie_title.append(movie_name.text.strip())
        weekend_dollar.append(weekend_amount.text.strip())
        gross_dollar.append(mo.span.text)
        weeks_in_boxoffice.append(int(weeks_in.text))
        stars.append(starring)
    except:
        continue

### Inserting the scrapped information into the empty dataframe

In [9]:
Box_office['Title'] = movie_title
Box_office['Weekend'] = weekend_dollar
Box_office['Gross']= gross_dollar
Box_office['Weeks'] = weeks_in_boxoffice
Box_office['Stars'] = stars

### Display the Scrapped Box_office movies

In [10]:
print(Box_office)

                                  Title Weekend    Gross  Weeks  \
0                     The Suicide Squad  $26.2M   $26.2M      1
1                         Jungle Cruise  $15.8M   $65.4M      2
2                                   Old   $4.1M   $38.5M      3
3                           Black Widow   $3.9M  $174.3M      5
4                            Stillwater   $2.8M   $10.0M      2
5                      The Green Knight   $2.6M   $12.2M      2
6               Space Jam: A New Legacy   $2.4M   $65.6M      4
7          Snake Eyes: G.I. Joe Origins   $1.7M   $26.1M      3
8  Escape Room: Tournament of Champions   $1.3M   $23.1M      4
9                                    F9   $1.2M  $171.0M      7

                                               Stars
0       James Gunn (dir.), Margot Robbie, Idris Elba
1  Jaume Collet-Serra (dir.), Dwayne Johnson, Emi...
2  M. Night Shyamalan (dir.), Gael Garc√≠a Bernal,...
3  Cate Shortland (dir.), Scarlett Johansson, Flo...
4    Tom McCarthy (dir.), Matt Damon, Camille Cottin
5    David Lowery (dir.), Dev Patel, Alicia Vikander
6   Malcolm D. Lee (dir.), LeBron James, Don Cheadle
7  Robert Schwentke (dir.), Henry Golding, Andrew...
8  Adam Robitel (dir.), Taylor Russell, Logan Miller
9  Justin Lin (dir.), Vin Diesel, Michelle Rodriguez